body{
  font: 10px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}
/*header*/
h1,
h2,
h3{

  font-weight: 300;
  text-transform: uppercase;


}
h1{
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}
h2{
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
h2:after{
  display: block;
  height: 2px;
  background-color: #FFC107;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;

}
h3{
  font-size: 110%;
  margin-bottom: 5px;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
  text-align: center;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:20px;
  padding-bottom: 20px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

.animasi{
  animation: gbounce 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes gbounce {
  0% { transform: translateY(0); }
  30% { transform: translateY(-50px); }
  50% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
}

header nav{
  float:right;
  margin-top: 25px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/showcase.jpg');
background-size: cover;
background-position: center;
height: 100vh;


}

#showcase h1{
  text-align: center;
  margin-top:50px;
  font-size:50px;
  margin-bottom:30px;
  color:#e74c3c;
  text-shadow: 2px 2px #ecf0f1;
  }

#showcase p{
  font-size:30px;
  text-align: center;
  font-family: 'Comic Neue', cursive;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  color:#FFC107;
  margin-bottom: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/* Newsletter */
#newsletter{
  padding:20px;
  color:#f1f2f6;
  background:#dfe4ea;
}

#newsletter h1{
  font-size: 40px;
  color: #2f3542;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:0px;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #dfe4ea;
}

#boxes .box{
  float:left;
  text-align: center;
  width:18%;
  padding:5px;

}

#boxes .box img{
  width:150px;
  margin:auto;
}

.fas{
	margin-right: 5px;
	font-size: 125%;
}

.fab{
	margin-right: 5px;
	font-size: 125%;
}

.boxx{
  text-align: justify;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}


.section-testimonial{
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../img/showcas.jpg');
  background-size:cover;
  color:#fff;
  background-attachment:fixed;


}
blockquote{
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin: 40px;
}
blockquote::before{
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}
cite{
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img{
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* footer */
footer{
  padding:10px;
  margin-top:0px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}


/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
